# PostgreSQL Config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
HIVE_METASTORE_DB=
METABASE_DB=
POSTGRES_PORT=
POSTGRES_HOST=
CONTAINER_POSTGRES_PORT=


# Dagster Config
DAGSTER_PORT=
DAGSTER_ENV=
DAGSTER_HOME=

# Database Connection String
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}

# Dagster Environment
DAGSTER_DEPLOYMENT=


# MinIO (S3-compatible) Configuration
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_CONSOLE_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
AWS_DEFAULT_REGION=
AWS_S3_ENDPOINT=

# spark master
SPARK_MODE=
SPARK_RPC_AUTHENTICATION_ENABLED=
SPARK_RPC_ENCRYPTION_ENABLED=
SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=
SPARK_SSL_ENABLED=

# spark worker
SPARK_MODE=
SPARK_MASTER_URL=
SPARK_WORKER_MEMORY=
SPARK_WORKER_CORES=
SPARK_RPC_AUTHENTICATION_ENABLED=
SPARK_RPC_ENCRYPTION_ENABLED=
SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=
SPARK_SSL_ENABLED=

#QDrant
QDRANT_API_KEY=
QDRANT_URL=
